{
  "parser": "@typescript-eslint/parser",
  "rules": {
    "no-unused-vars": "off",
    "prettier/prettier": [
      "warn",
      {
        "singleQuote": true,
        "semi": true
      }
    ]
  },
  "env": {
    "browser": true,
    "es6": true
  },
  "parserOptions": {
    "requireConfigFile": false
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "prettier",
    "plugin:prettier/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "prettier"
  ]
}
