@use "mixins.sass"

*
  box-sizing: border-box
  padding: 0
  margin: 0 auto
  user-select: none
  outline: none

a:link
  text-decoration: none
  color: inherit

a:visited
  text-decoration: none
  color: inherit

html, body
  width: 100%
  height: 100%
  background: #000
  color: #fff

main
  width: 100%
  height: 100%
  @include mixins.flexColumn
  position: relative

  h3
    @include mixins.heading
    margin-top: 200px

p
  @include mixins.paragraph

#root, .app
  width: 100%
  height: 100%

button, input
  border: none
  box-shadow: none
  background: transparent

.page-forms
  @include mixins.flexColumn
  width: 100%
  height: auto
  margin-top: 50px

  svg
    padding-top: 5px

  span
    position: relative

.page-form
  width: 250px
  height: 50px
  margin: 0 0 5px 0
  cursor: pointer
  @include mixins.paragraph
  padding-top: 0
  border: none

.google
  background: #4285f4

.form-img
  position: absolute
  top: 50%
  right: 15px
  transform: translate(0%, -50%)
  padding-top: 5px

nav
  @include mixins.flexColumn
  width: 50px
  height: 100%
  background: #272727
  position: fixed
  top: 0
  left: 0

.nav-btn
  width: 50px
  height: 50px
  margin: 0 auto
  cursor: pointer
  color: #fff
  border-radius: 10px

canvas
  background: #fff
  position: absolute
  margin-top: 5px
  touch-action: none

@media all and (max-width: 768px)
  canvas
    left: 55px

.main-block
  width: 170px
  height: 65px
  background: #272727
  position: absolute
  top: 15px
  right: 15px
  border-radius: 15px

.home-heading
  @include mixins.flexColumn
  width: 240px
  height: 100px

.main-btn
  width: 50px
  height: 50px
  border-radius: 50%
  background: #272727
  color: #fff
  position: fixed
  bottom: 20px
  right: 20px
  cursor: pointer

input
  background: #272727
  line-height: 32px
  @include mixins.paragraph
  border-radius: 15px
  width: 240px
  position: relative
  text-align: left
  margin: 0 auto
  padding: 0 0 0 10px

.title
  @include mixins.heading
  margin: 0

.items
  @include mixins.flexColumn
  width: 90%
  height: auto
  margin-top: 50px
  top: 0

.item
  width: 324px
  height: 400px
  background: #fff
  margin: 5px

@media all and (min-width: 768px)
  .item
    width: 500px
    height: 617px

.home
  justify-content: space-evenly
  height: auto

.home-recent
  margin-top: 25px
  margin-left: 15px
  width: calc(100% - 15px)

.recent-items
  @include mixins.flexRow
  width: 100%
  height: 150px
  margin-top: 15px
  justify-content: start

.swiper-slide
  width: 121.5px

.recent-item
  width: 121.5px
  height: 150px

.settings
  width: mixins.$settingWidth
  height: mixins.$settingHeight
  border-radius: 15px
  background: mixins.$settingBg
  @include mixins.absoluteAlign
  z-index: 5
  top: 50%
  @include mixins.flexColumn
  display: none

  button
    margin-bottom: 5px

.color-settings
  height: 200px

.circle-picker
  margin: 0
  padding: 0

.active
  display: flex

.shapes
  flex-direction: row

  svg
    color: #fff
    width: 50px
    height: 50px

.loader
  position: relative
  top: 0
  left: 0
  width: 100%
  height: 100%
  z-index: 5
  background: #000

.swiper
  margin-left: 0

.disabled
  display: none

.user-items
  h3
    margin: 0 0 20px 0

.no-recent
  @include mixins.flexRow
  align-items: baseline
  align-self: self-start
  margin-top: 20px
  width: 200px