@mixin flexColumn
  display: flex
  flex-direction: column
  flex-wrap: nowrap
  align-items: center
  justify-content: space-evenly

@mixin flexRow
  display: flex
  flex-direction: row
  flex-wrap: nowrap
  align-items: center
  justify-content: space-evenly

@mixin heading
  color: #fff
  font-family: Arial, Helvetica, sans-serif
  font-size: 22px
  position: relative

@mixin paragraph
  color: #fff
  font-family: Arial, Helvetica, sans-serif
  font-size: 18px
  position: relative
  margin-top: 10px
  text-align: center

@mixin absoluteAlign
  position: absolute
  left: 50%
  top: 0
  transform: translate(-50%, -50%)

$settingWidth: 300px
$settingHeight: 150px
$settingBg: #000

*
  box-sizing: border-box
  padding: 0
  margin: 0 auto
  user-select: none
  outline: none

a:link
  text-decoration: none
  color: inherit

a:visited
  text-decoration: none
  color: inherit

html, body
  width: 100%
  height: 100%
  background: #000

main
  width: 100%
  height: 100%
  @include flexColumn
  position: relative

  h3
    @include heading
    margin-top: 200px

#root, .app
  width: 100%
  height: 100%

button, input
  border: none
  box-shadow: none
  background: transparent

.page-forms
  @include flexColumn
  width: 100%
  height: auto
  margin-top: 50px

  svg
    padding-top: 5px

  span
    position: relative

.page-form
  width: 250px
  height: 50px
  margin: 0px 0px 5px 0px
  cursor: pointer
  @include paragraph
  padding-top: 0px
  border: none

.google
  background: #4285f4

.form-img
  position: absolute
  top: 50%
  right: 15px
  transform: translate(0%, -50%)
  padding-top: 5px

nav
  @include flexColumn
  width: 50px
  height: 100%
  background: #272727
  position: fixed
  top: 0
  left: 0

.nav-btn
  width: 50px
  height: 50px
  margin: 0 auto
  cursor: pointer
  color: #fff
  border-radius: 10px

.zoom
  @include flexColumn
  @include paragraph
  font-size: 14px
  width: 50px
  height: 100px
  margin: 0 auto
  background: #272727
  border-radius: 10px
  position: fixed
  right: 15px
  top: 15px

  button
    color: #fff
    width: 20px
    height: 20px
    cursor: pointer

canvas
  background: #fff
  position: absolute
  top: 0
  left: 55px
  margin-top: 5px
  touch-action: none

.home-heading
  @include flexColumn
  width: 240px
  height: 100px
  margin-top: 100px

.main-btn
  width: 50px
  height: 50px
  border-radius: 50%
  background: #272727
  color: #fff
  position: fixed
  bottom: 20px
  right: 20px
  cursor: pointer

input
  background: #272727
  line-height: 32px
  @include paragraph
  border-radius: 15px
  width: 240px
  position: relative
  text-align: left
  margin: 0 auto
  padding: 0 0 0 10px

.title
  @include heading
  margin: 0px

.items
  @include flexColumn
  width: 90%
  height: 2000px
  background: #fff
  margin-top: 50px
  top: 0

.home
  justify-content: space-evenly
  height: auto

.home-recent
  margin-top: 25px
  margin-left: 15px
  width: calc(100% - 15px)

.recent-items
  @include flexRow
  width: 100%
  height: 150px
  margin-top: 15px

.settings
  width: $settingWidth
  height: $settingHeight
  border-radius: 15px
  background: $settingBg
  @include absoluteAlign
  z-index: 5
  top: 50%
  @include flexColumn
  display: none

  p
    @include paragraph

  button
    margin-bottom: 5px

.color-settings
  height: 200px

.circle-picker
  margin: 0
  padding: 0

.active
  display: flex

.shapes
  flex-direction: row

  svg
    color: #fff
    width: 50px
    height: 50px